{% extends "template.html" %}

{% block conteudo %}
<form method="post" action="{{  url_for('atualizar') }}" enctype="multipart/form-data">
    <fieldset>

        <figure class="img-thmbnail mb-3">
            <img class="img-fluid" src="{{ url_for('imagem', nome_imagem=album_cliente) }}">


            <figcaption>
                <label for="arquivo" class="form-label">
                    Selecione uma nova imagem
                    <input type="file" name="arquivo" id="arquivo" 
                    accept=".jpg, .jpeg, .png" class="form-control">
                </label>
            </figcaption>
        </figure>

        {{ cliente.csrf_token() }}

        <input type="hidden" name="txtId" value="{{ id }}">

        <div class="mb-3">
            {{ cliente.nome.label(class="form-label") }}
            {{ cliente.nome(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ cliente.email.label(class="form-label") }}
            {{ cliente.email(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ cliente.telefone.label(class="form-label") }}
            {{ cliente.telefone(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ cliente.cadastrar(class="btn btn-primary") }}
        </div>
    </fieldset>
</form>
{% endblock %}